.todo-item {
  @apply p-4 text-black dark:text-white;

  h3 {
    @apply m-0 overflow-hidden text-ellipsis;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
  }

  &__content {
    @apply overflow-hidden;
  }
}
