.todo-item {
  padding: 15px;

  h3 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;

  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
  }

  &__content {
    overflow: hidden;
  }
}
